In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('churn.csv')

In [3]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
df.duplicated().sum()

0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [6]:
df['Exited'].value_counts()

Exited
0    7963
1    2037
Name: count, dtype: int64

In [7]:
df['Geography'].value_counts()

Geography
France     5014
Germany    2509
Spain      2477
Name: count, dtype: int64

In [8]:
df.drop(columns = ['RowNumber' , 'CustomerId' , 'Surname'] , inplace = True)

In [9]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [10]:
df = pd.get_dummies(df , columns = ['Geography' , 'Gender'] , drop_first = True)

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
x = df.drop(columns=['Exited'])
y = df['Exited']

x_train , x_test , y_train, y_test = train_test_split(x , y , test_size = 0.2 , random_state = 1)

In [13]:
print(x_train.shape , x_test.shape , y_train.shape , y_test.shape)

(8000, 11) (2000, 11) (8000,) (2000,)

In [14]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

x_train_scaled = scaler.fit_transform(x_train)
x_test_scaled = scaler.transform(x_test)

In [15]:
x_train_scaled

array([[-0.23082038, -0.94449979, -0.70174202, ...,  1.71490137,
        -0.57273139,  0.91509065],
       [-0.25150912, -0.94449979, -0.35520275, ..., -0.58312392,
        -0.57273139, -1.09278791],
       [-0.3963303 ,  0.77498705,  0.33787579, ...,  1.71490137,
        -0.57273139, -1.09278791],
       ...,
       [ 0.22433188,  0.58393295,  1.3774936 , ..., -0.58312392,
        -0.57273139, -1.09278791],
       [ 0.13123255,  0.01077067,  1.03095433, ..., -0.58312392,
        -0.57273139, -1.09278791],
       [ 1.1656695 ,  0.29735181,  0.33787579, ...,  1.71490137,
        -0.57273139,  0.91509065]])

In [16]:
import tensorflow
from tensorflow import keras
from keras import Sequential
from keras.layers import Dense

In [17]:
model = Sequential()

model.add(Dense(20 ,activation = 'relu' , input_dim = 11 , name = "hidden_layer1"))
model.add(Dense(20 , activation = 'relu' , name = "hidden_layer2"))
model.add(Dense(20 , activation = 'relu' , name = "hidden_layer3"))
model.add(Dense(20 , activation = 'relu' , name = "hidden_layer4"))
model.add(Dense(1 ,activation = 'sigmoid' , name = "output_layer"))

In [18]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 hidden_layer1 (Dense)       (None, 20)                240

 hidden_layer2 (Dense)       (None, 20)                420

 hidden_layer3 (Dense)       (None, 20)                420

 hidden_layer4 (Dense)       (None, 20)                420

 output_layer (Dense)        (None, 1)                 21

=================================================================
Total params: 1521 (5.94 KB)
Trainable params: 1521 (5.94 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [19]:
model.compile(loss = 'binary_crossentropy' , optimizer = 'Adam', metrics = ['accuracy'])

In [30]:
model.fit(x_train_scaled , y_train , epochs = 10 ,validation_split = 0.2 )

Epoch 1/10
200/200 [==============================] - 0s 2ms/step - loss: 0.1037 - accuracy: 0.9563 - val_loss: 1.5317 - val_accuracy: 0.7869
Epoch 2/10
200/200 [==============================] - 0s 1ms/step - loss: 0.1041 - accuracy: 0.9570 - val_loss: 1.5461 - val_accuracy: 0.7981
Epoch 3/10
200/200 [==============================] - 0s 1ms/step - loss: 0.1047 - accuracy: 0.9577 - val_loss: 1.6083 - val_accuracy: 0.7856
Epoch 4/10
200/200 [==============================] - 0s 1ms/step - loss: 0.1100 - accuracy: 0.9556 - val_loss: 1.5392 - val_accuracy: 0.7994
Epoch 5/10
200/200 [==============================] - 0s 1ms/step - loss: 0.1011 - accuracy: 0.9602 - val_loss: 1.5876 - val_accuracy: 0.8169
Epoch 6/10
200/200 [==============================] - 0s 1ms/step - loss: 0.1015 - accuracy: 0.9563 - val_loss: 1.5863 - val_accuracy: 0.8000
Epoch 7/10
200/200 [==============================] - 0s 1ms/step - loss: 0.1010 - accuracy: 0.9575 - val_loss: 1.6626 - val_accuracy: 0.7912
Epoch 8/10
200/200 [==============================] - 0s 1ms/step - loss: 0.1049 - accuracy: 0.9569 - val_loss: 1.5747 - val_accuracy: 0.8075
Epoch 9/10
200/200 [==============================] - 0s 1ms/step - loss: 0.0989 - accuracy: 0.9614 - val_loss: 1.5251 - val_accuracy: 0.7944
Epoch 10/10
200/200 [==============================] - 0s 2ms/step - loss: 0.1096 - accuracy: 0.9553 - val_loss: 1.6240 - val_accuracy: 0.8087

In [31]:
model.layers[0].get_weights()

[array([[ 4.48416740e-01,  3.12044501e-01, -4.39458907e-01,
         -3.32582772e-01, -1.09925112e-02, -3.65138441e-01,
         -4.29572493e-01,  3.51756334e-01,  6.40402615e-01,
         -8.33236277e-02,  8.39801073e-01, -2.37530217e-01,
         -9.11737084e-02,  5.77011168e-01, -7.35197589e-02,
         -1.04309666e+00,  3.20955694e-01, -4.46529418e-01,
         -7.37863362e-01, -6.82025611e-01],
        [ 9.61093426e-01, -4.86777127e-01, -1.57860494e+00,
         -9.60640192e-01,  9.59252536e-01,  1.08469880e+00,
          1.75260663e-01, -7.75980294e-01, -2.39912227e-01,
         -4.53970820e-01,  5.65907001e-01, -8.77840459e-01,
          1.25365034e-01,  9.52626407e-01,  8.86645794e-01,
         -1.16406284e-01, -2.43427619e-01, -1.21786940e+00,
         -5.59524059e-01, -1.30821705e-01],
        [-1.03330866e-01, -9.58471358e-01,  4.57381606e-01,
         -3.02252501e-01, -7.91006815e-03, -7.52011120e-01,
          5.02657831e-01, -5.10097980e-01,  4.14928019e-01,
          7.52989471e-01, -4.04339284e-01, -8.08585659e-02,
         -5.02059758e-02, -2.96865910e-01,  1.24081701e-01,
          3.64483297e-01,  8.67019832e-01, -7.26744473e-01,
         -7.46009350e-01, -4.70339596e-01],
        [-4.68186706e-01,  1.17535464e-01,  9.18085337e-01,
         -7.70971358e-01,  4.93350834e-01, -7.44412363e-01,
          4.59001333e-01,  5.06248415e-01, -8.99180532e-01,
          3.20803262e-02,  8.34273040e-01, -3.18832253e-03,
          1.08160019e+00, -5.06520092e-01, -1.93820253e-01,
          9.57957387e-01, -5.05516827e-01, -6.76894128e-01,
         -1.31043625e+00, -6.29824936e-01],
        [-4.21931595e-01,  4.01199937e-01,  5.15605748e-01,
          3.35094601e-01,  1.48888373e+00, -8.33890438e-01,
         -5.47301590e-01,  7.25673139e-01, -1.99730039e-01,
          6.74950480e-01, -1.09524131e+00, -3.10862303e-01,
          1.31140232e+00,  1.38584900e+00,  1.91321865e-01,
         -3.66534442e-01, -4.94907144e-05, -8.27239573e-01,
          1.01554132e+00, -8.42001438e-01],
        [ 1.97359651e-01, -1.74610332e-01, -5.85890949e-01,
         -4.37415004e-01, -4.51007456e-01, -9.93047208e-02,
          1.08831191e+00,  1.79286182e-01,  2.73286074e-01,
          1.13358545e+00,  3.06642920e-01,  6.11651599e-01,
          6.20552778e-01,  3.67276311e-01, -4.38440144e-01,
         -7.87770808e-01, -9.87631202e-01,  1.01663347e-04,
          1.59613550e-01, -5.29091619e-02],
        [-4.53630060e-01, -7.44729578e-01, -6.83547556e-01,
          2.73781478e-01, -2.21867368e-01, -4.22671497e-01,
         -1.45861372e-01,  6.20212078e-01, -2.85769403e-01,
         -5.89562654e-01, -4.26507205e-01,  3.20274204e-01,
          6.71537369e-02,  6.23836741e-02,  1.49195564e+00,
         -3.40275973e-01,  1.44697845e-01, -6.83739543e-01,
         -9.23304632e-02, -2.41654113e-01],
        [ 1.30902633e-01, -8.51624683e-02,  2.16601536e-01,
         -2.62554824e-01, -2.06019759e-01, -1.23730510e-01,
         -7.02866375e-01,  6.87631369e-01,  7.39162385e-01,
         -2.92884380e-01,  2.17429191e-01, -4.81592327e-01,
          2.97664925e-02, -6.46644711e-01, -1.71332434e-03,
          4.47269827e-01, -5.30574501e-01,  5.91737740e-02,
          1.91557873e-02,  2.61120081e-01],
        [-7.28810847e-01,  9.39806640e-01, -4.97914255e-01,
         -3.81444305e-01,  3.39660436e-01,  5.58093548e-01,
         -1.83651403e-01, -4.32872511e-02, -7.28603542e-01,
         -3.09939571e-02,  5.62464774e-01, -1.27343738e+00,
         -6.29090667e-01,  6.95208833e-02,  3.10740948e-01,
          4.90175098e-01,  6.83644295e-01,  1.03500748e+00,
          4.11573738e-01, -3.60534191e-01],
        [ 2.65088528e-01, -2.51007557e-01, -3.05061430e-01,
          5.54747641e-01,  3.37681711e-01, -3.27793695e-02,
          7.10629821e-01,  5.96737713e-02, -4.13819492e-01,
         -2.11873472e-01, -9.17689800e-01, -6.84378386e-01,
          7.86352456e-02,  9.76544060e-03, -2.02273026e-01,
          6.43495321e-01,  2.30517179e-01, -3.09300125e-01,
          9.23804939e-01, -4.70876157e-01],
        [-8.49320412e-01,  6.83119953e-01, -3.64733428e-01,
         -2.83576459e-01, -3.30951959e-01,  5.38636029e-01,
          2.84372002e-01, -1.12247027e-01, -1.33148551e-01,
          4.97584492e-01,  2.93255180e-01,  6.19414747e-01,
         -6.90916330e-02,  4.63413179e-01,  2.91346580e-01,
         -3.45054328e-01,  1.39275026e-02, -4.42851633e-02,
          2.72917181e-01, -2.20987365e-01]], dtype=float32),
 array([-0.60432327,  0.37989044,  0.360864  ,  0.6923275 ,  0.13533206,
        -0.19621491,  0.0454874 ,  0.52943367, -0.06843776,  0.1034459 ,
        -0.71327883,  0.16564362, -0.4004941 , -0.11972956, -0.26790294,
         0.25105682,  0.6292281 ,  0.15719691,  0.02000952,  0.14081262],
       dtype=float32)]

In [32]:
y_log = model.predict(x_test_scaled)

63/63 [==============================] - 0s 756us/step

In [33]:
y_pred = np.where(y_log>0.5,1,0)

In [34]:
from sklearn.metrics import accuracy_score

accuracy_score(y_test ,y_pred)

0.806