In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('churn.csv')

In [3]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
df.shape

(10000, 14)

In [5]:
df.duplicated().sum()

0

In [7]:
df.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [9]:
df['Geography'].value_counts()

Geography
France     5014
Germany    2509
Spain      2477
Name: count, dtype: int64

In [10]:
df['Gender'].value_counts()

Gender
Male      5457
Female    4543
Name: count, dtype: int64

In [12]:
df.drop(columns = ['RowNumber' , 'CustomerId' , 'Surname'],inplace = True)

In [13]:
df = pd.get_dummies(df , columns = ['Geography' , 'Gender'] , drop_first = True)

In [14]:
df.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,False,False,False
1,608,41,1,83807.86,1,0,1,112542.58,0,False,True,False
2,502,42,8,159660.80,3,1,0,113931.57,1,False,False,False
3,699,39,1,0.00,2,0,0,93826.63,0,False,False,False
4,850,43,2,125510.82,1,1,1,79084.10,0,False,True,False

In [17]:
x = df.drop(columns = ['Exited'])
y = df['Exited']

In [18]:
from sklearn.model_selection import train_test_split

x_train , x_test , y_train ,  y_test = train_test_split(x , y , test_size =0.2 , random_state =10)

In [22]:
from sklearn.preprocessing import StandardScaler

model = StandardScaler()

x_train_scaled = model.fit_transform(x_train)
x_test_scaled = model.transform(x_test)

In [27]:
import tensorflow as tf
from tensorflow import keras
from keras import Sequential
from keras.layers import Dense

In [29]:
model = Sequential()

model.add(Dense(10  , activation = 'relu' , input_dim = 11))
model.add(Dense(20 , activation = 'relu'))
model.add(Dense(20 , activation = 'relu'))
model.add(Dense(1 , activation = 'sigmoid'))

In [30]:
model.compile(loss = 'binary_crossentropy' , optimizer = 'Adam' , metrics = ['accuracy'])

In [34]:
model.fit(x_train_scaled , y_train , validation_split = 0.2 ,epochs = 10)

Epoch 1/10
200/200 [==============================] - 0s 2ms/step - loss: 0.4362 - accuracy: 0.8036 - val_loss: 0.4182 - val_accuracy: 0.8156
Epoch 2/10
200/200 [==============================] - 0s 2ms/step - loss: 0.4084 - accuracy: 0.8206 - val_loss: 0.3977 - val_accuracy: 0.8219
Epoch 3/10
200/200 [==============================] - 0s 2ms/step - loss: 0.3845 - accuracy: 0.8377 - val_loss: 0.3811 - val_accuracy: 0.8338
Epoch 4/10
200/200 [==============================] - 0s 1ms/step - loss: 0.3669 - accuracy: 0.8464 - val_loss: 0.3721 - val_accuracy: 0.8431
Epoch 5/10
200/200 [==============================] - 0s 1ms/step - loss: 0.3563 - accuracy: 0.8502 - val_loss: 0.3657 - val_accuracy: 0.8531
Epoch 6/10
200/200 [==============================] - 0s 1ms/step - loss: 0.3501 - accuracy: 0.8527 - val_loss: 0.3603 - val_accuracy: 0.8544
Epoch 7/10
200/200 [==============================] - 0s 1ms/step - loss: 0.3458 - accuracy: 0.8552 - val_loss: 0.3612 - val_accuracy: 0.8544
Epoch 8/10
200/200 [==============================] - 0s 1ms/step - loss: 0.3424 - accuracy: 0.8562 - val_loss: 0.3581 - val_accuracy: 0.8587
Epoch 9/10
200/200 [==============================] - 0s 1ms/step - loss: 0.3393 - accuracy: 0.8606 - val_loss: 0.3530 - val_accuracy: 0.8631
Epoch 10/10
200/200 [==============================] - 0s 1ms/step - loss: 0.3369 - accuracy: 0.8586 - val_loss: 0.3494 - val_accuracy: 0.8619

In [43]:
y_pred = model.predict(x_test_scaled)
y_pred = np.where(y_pred>0.5 , 1 , 0)

63/63 [==============================] - 0s 886us/step

In [44]:
from sklearn.metrics import accuracy_score

accuracy_score(y_test , y_pred)

0.847